h1,h2,h3,h4 {
  margin: 0
}
.row {
  margin: 40px 0;
}
.form {
  margin: auto;
  text-align: left;
  border: 1px solid #F2F2F2 !important;
  padding: 2em;
}

.form-title {
  margin-bottom: 15px;
}

.form-text {
  color: red;
}